.blue-text, .modal-content {
  color: #0d1e54;
}

.contact-info {
  background-image: url("../img/portfolio/Mountain.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

.portfolio-link:hover {
  opacity: 20%;
}

.about-text {
  text-indent: 8%;
}

.pic-row {
  margin-top: 2em;
  margin-bottom: 2em;
}

hr.no-star {
  padding: 0;
  border: none;
  border-top: dotted 2px;
  text-align: center;
  max-width: 320px;
  margin: 10px auto 20px;
}

iframe {
  width: 90%;
  height: 50em;
  max-width: 1000px;
  margin-left: 5%;
}
