.blue-text, .modal-content {
  color: #3f5a73;
}

.contact-info {
  background-image: url("../img/portfolio/Andromeda.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
}

.portfolio-link:hover {
  opacity: 20%;
}

.about-text {
  text-indent: 8%;
  max-width: 60%;
}

hr.no-star {
  padding: 0;
  border: none;
  border-top: dotted 2px;
  text-align: center;
  max-width: 300px;
  margin: 10px auto 20px;
}

iframe {
  width: 90%;
  height: 50em;
  max-width: 800px;
  margin-left: 5%;
}
